{% extends 'core/base.html' %}
{% block titulo %}Cerrar Sesión{% endblock %}
{% load static %}

{% block estilo %}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline">
            <div class="card-header text-center">
                <img src="{% static 'media/img/gallery/log-out.png' %}" alt="" width="25%">
                <h1><b>WorkMatch</b></h1>
            </div>
            <div class="card-body">
                <p class="login-box-msg text-bold">Sesión terminada</p>
                <p class="mt-3 mb-1 text-center">
                    <a href="/accounts/login/">Iniciar sesión de nuevo</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</body>

{% endblock %}