{% extends 'core/base.html' %}
{% block titulo %}{{ request.user.first_name }}{% endblock %}
{% load static %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block contenido %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">{{ request.user.username }}</span>
        {% if request.user.photo %}
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ request.user.photo.url }}" alt="..." /></span>
        {% else %}
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'media/img/default-user.png' %}" alt="..." /></span>
        {% endif %}
    </a>
    <a class="nav-item text-warning" href="{% url 'perfil-edit' %}">Editar Perfil <i class="fa-solid fa-user-pen"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Acerca de mi</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experiencia</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Educacion </a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Habilidades</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Logros y Hechos</a></li>
            <li><a href="{% url 'logout' %}" class="nav-item text-warning"><i class="fa-solid fa-power-off"></i> Cerrar sesion</a></li>
        </ul>
    </div>
</nav>
<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            {{ request.user.first_name }}
            <span class="text-primary">{{ request.user.last_name }}</span>
        </h1>
        <div class="subheading mb-5">
            {{ request.user.addres }} · {{ request.user.city }} {{ request.user.country }} · {{ request.user.phone }} ·
            <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a>
        </div>
        <p class="lead mb-5">
          {% for item in excerp %}
                  {% if item.excerption_type == 1 %}
                    {{ item.content|safe }}
                  {% endif %}
          {% endfor %}             
        </p>
        <div class="social-icons">
            {% for item in links %} 
              <a href="{{ item.link }}" target="_blank" class="social-icon">
                  {% if item.type_link == 'LI' %}
                    <i class="fab fa-linkedin-in"></i>
                  {% elif item.type_link == 'GH' %}
                    <i class="fab fa-github"></i>
                  {% elif item.type_link == 'WEBSITE' %}
                    <i class="fa-solid fa-link"></i>
                  {% elif item.type_link == 'OTHERS' %}
                    <i class="fab fa-globe"></i>
                  {% endif %}
              </a>
            {% endfor %}
        </div>
      </div>
</section>
<hr class="m-0" />
<!-- ======= Experiencia ======= --> 
<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experiencia</h2>
    {% for job in empleos %}
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
          <h3 class="mb-0">{{ job.position }}</h3>
          <div class="subheading mb-3">{{ job.company }}</div>
          <p>{{ job.job_description|safe }}</p> 
      </div>
      <div class="flex-shrink-0"><span class="text-primary">
        {{ job.start_date| date:"Y" }} - 
        {% if job.end_date %} 
          {{ job.end_date| date:"Y" }}
        {% else %}
          Actualmente
        {% endif %}</span></div>
    </div>
    {% empty %}
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Senior Web Developer</h3>
            <div class="subheading mb-3">Intelitec Solutions</div>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div>
      </div>
    {% endfor %}    
  </div>
</section>
<hr class="m-0" />
<!-- ======= Educacion ======= --> 
<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5">Educacion</h2>
    {% for school in academia|dictsortreversed:"id" %}
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">{{ school.academy_name }}</h3>
            <div class="subheading mb-3">{{ school.degree_obtained }}</div>
            <div>{{ school.degree_esp }}</div>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">
          {{ school.start_date|date:"Y" }} -  
          {% if school.in_progress %}
            Actualmente estudiando
          {% else %}
            {{ school.finish_date|date:"Y" }}
          {% endif %}
        </span></div>
      </div>
    {% endfor %} 
  </div>
</section>
       
 <!-- ======= Skills Section ======= -->        
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
      
              <div class="lead mb-5">
                <h2 class="mb-5">Habilidades</h2>
                <p class="lead mb-5">
                  {% for item in excerp %}
                          {% if item.excerption_type == 2 %}
                            {{ item.content|safe }}
                          {% endif %}
                  {% endfor %}             
                </p>
              </div>
      
              <div class="row skills-content data-aos="fade-up"">
      
                  {% for item in habilidades %}
                    <div class="progress col-6 mb-1" role="progressbar" aria-label="Example with label" aria-valuenow="{{ item.level }}" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: {{ item.level }}%">{{item.skill}} {{ item.level }}%</div>
                    </div>
                  {% endfor %}
      
              </div>
            </div>
          </section>

 <!-- ======= Intereses  ======= --> 
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
              <div class="lead mb-5">
                <h2>Proyectos</h2>
                <p class="lead mb-5">
                  {% for item in excerp %}
                          {% if item.excerption_type == 3 %}
                            {{ item.content|safe }}
                          {% endif %}
                  {% endfor %}             
                </p>
              </div>
              <div class="row">
                {% for project in proyectos %}
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-briefcase"></i></div>
                        <h4 class="lead mb-5"><a href="">{{ project.name_project }}</a></h4>
                        <h5 class="lead mb-5">
                            {% if project.year_production %} 
                                {{ project.year_production }}
                            {% else %}
                                Actualmente en Desarrollo
                            {% endif %}
                        </h5>
                        <p class="lead mb-5">
                            {{ project.resume_project }} <br>
                            <span><small><a href="{{ project.url_repo }}" target="_blank">http://repositorio.com/</a></small></span>
                        </p>
                    </div>
                {% empty %}
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-briefcase"></i></div>
                        <h4 class="title"><a href="">Sin participación en Proyectos</a></h4>
                        <p class="description">A pesar de contar con experiencia en proyectos, deseo participar activamente en los que trabaja su empresa</p>
                    </div>
                {% endfor %}
              </div>       
            </div>
        </section>

  <!-- ======= logros ======= --> 
        <section class="resume-section" id="awards">
          <div class="resume-section-content">
            <div class="lead mb-5">
              <h2>Logros</h2>
              <p class="lead mb-5">
                {% for item in excerp %}
                        {% if item.excerption_type == 6 %}
                          {{ item.content|safe }}
                        {% endif %}
                {% endfor %}             
              </p>
            </div>
              <div class="lead mb-5">
                <h2 class="mb-5">Hechos</h2>
                {% for fact in hechos %}
                <p class="text-start"><i class="fa-solid fa-people-group"></i> <strong>{{ fact.fact }}:</strong>{{ fact.value }}</p>
                {% empty %}
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-briefcase"></i></div>
                        <h4 class="title"><a href="">Aún no se han concretado los logros</a></h4>
                        <p class="description">Me encuentro en proceso de adquisición de experiencia laboral que me permitirá demostrar mis alcances profesionales.</p>
                    </div>
                {% endfor %}
              </div>
          </div>
        </section>
{% endblock %}