{% extends 'core/base.html' %}
{% block titulo %}Modifica tus datos {{ request.user }}{% endblock %}
{% load static %}

{% block estilo %}

{% endblock %}
{% block contenido %}
    {% include 'core/menu.html' %}
    <section class="container mt-3">
        <h1 class="h3 text-center mt-3 mb-3">Agregar estudios</h1>
        <form method="post" class="row">
            <div class="mb-3 col-6">
                <label for="id_type_degree">Tipo de Educación</label>
                {{ form.type_degree }}
            </div>
            <div class="mb-3 col-6">
                <label for="id_academy_name">Institución Educativa</label>
                {{ form.academy_name }}
            </div>
            <div class="mb-3 col-12">
                <label for="id_degree_obtained">Grado Obtenido</label>
                {{ form.degree_obtained }}
            </div>
            <div class="mb-3 col-12">
                <label for="id_degree_esp">Especialidad del Grado</label>
                {{ form.degree_esp }}
            </div>
            <div class="mb-3 col-6">
                <label for="id_start_date">Fecha de Inicio de Estudios</label>
                {{ form.start_date }}
            </div>
            <div class="mb-3 col-6">
                <label for="id_finish_date">Fecha de Graduación</label>
                {{ form.finish_date }}
            </div>
            <div class="mb-3 col-6">
                <label for="id_in_progress">Aún estudio aquí</label>
                {{ form.in_progress }}
            </div>
            <div class="row justify-content-end">
                <div class="col-3">
                    <a href="{% url 'perfil-edit' %}" class="btn btn-outline-dark">Cancelar</a>              
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-success">Actualizar Datos</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}