{% extends 'core/base.html' %}
{% block titulo %}Proyectos{% endblock %}
{% load static %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block contenido %}
{% include 'core/menu.html' %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5 h3" id="exampleModalLabel">Agregar proyectos desarrollados</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <section class="container mt-3 row">
                        <div class="mb-3 col-6">
                            <label for="id_stack">Tecnologias Usadas</label>
                            {{ form.stack }}
                        </div>
                        <div class="mb-3 col-6">
                            <label for="id_name_project">Nombre de Proyecto</label>
                            {{ form.name_project }}
                        </div>
                        <div class="mb-3 col-12">
                            <label for="id_resume_project">Descripcion</label>
                            {{ form.resume_project }}
                        </div>
                        <div class="mb-3 col-6">
                            <label for="id_url_repo">Url Repositorio</label>
                            {{ form.url_repo }}
                        </div>
                        <div class="mb-3 col-6">
                            <label for="id_year_production">Año en Producción</label>
                            {{ form.year_production }}
                        </div>
                        <div class="mb-3 col-6">
                            <label for="id_developing">Aún en desarrollo</label>
                            {{ form.developing }}
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Guardar Proyecto</button>
                </div>
            </form>
        </div>
    </div>
</div>
<button onclick="topFunction()" id="go-top" title="Ir arriba">Ir arriba</button>
<section class="container mt-3">
    <div class="row">
        <div class="col-12">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Agregar Proyecto
            </button>
        </div>
        {% for item in object_list %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ item.name_project }}: {{ item.year_production }}
                        &nbsp<a href="{% url 'project-update' pk=item.id %}" title="Modificar"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="#" title="Eliminar" id="delbtn" class="place-top-right" data-bs-toggle="modal" data-bs-target="#projectModal" onclick="changeHref({{ item.id }});"><i class="fa-solid fa-file-circle-xmark text-danger"></i></a>
                    </h5>
                    <p class="card-text">{{ item.resume_project }}</p>
                    <a href="{{ item.url_repo }}" class="btn btn-primary">Url Repositorio</a>
                    <input type="hidden" id="id-{{ item.id }}" value="{% url 'project-delete' pk=item.id %}">
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">
                        {% for stack in item.stack.all %}
                        {{ stack.name_stack }} - 
                        {% endfor %}
                    </small>
                </div>
            </div>
        {% empty %}
        <p class="text-center">Aún no has registrado tu proyectos desarrollados. Empecemos!!</p>
        {% endfor %}
    </div>
</section>

<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="projectModalLabel">Eliminar Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar este proyecto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="#" id="anchorbtn" class="btn btn-primary">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}